body {
  font-family: "Campfire";
  background-color: rgb(10, 10, 10);
}

.nav-link {
  color: black;
}

.nav-link:hover {
  transform: rotate(5deg) scale(1.1);
  color: deeppink;
  text-shadow: 2px 2px 0 white;
}

.no-text-decoration {
  text-decoration: none;
  color: inherit;
}

.no-text-decoration:hover {
  text-decoration: none;
  color: inherit;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.fixed-size {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-hover-scale:hover {
  transform: scale(1.05);
}
